@import "~sass/variables";

@mixin search-containers() {
  background-color: #fff;
  height: 100%;
  padding: 10px;
}

.container-fluid {
  height: 100vh;
  background-color: $main-background;
}

.flight-search {
  border-radius: 5px;
}

.search {
  border-radius: 5px;
  height: 75vh;
  margin: 15px 15px 10px 15px;
  background-color: $light-blue;
  padding: 10px;
  overflow: scroll;

  &__row {
    height: inherit;
  }

  &__map {
    @include search-containers();
    border-radius: 5px 0 0 5px;
  }

  &__result {
    @include search-containers();
    overflow: scroll;
    border-radius: 0 5px 5px 0;
  }
}

.flight-search {
  margin: 10px 15px 0;
  padding: 15px 15px 10px;
  background-color: $light-blue;
}

#map-canvas {
  height: 100%;
}

.pricing {
  margin: 10% 0;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 10px 10px -10px 10px;
  }
}
