<div class="container-fluid white-background ind-route center p-t-1">
  <div class="row">
    <div class="col-xs-12 col-1">
      <div class="row">
        <div class="col-12">
          <h5>{{ route.airline }}</h5>
          <p class="flight-number">
            <small>Flight #{{ route.flight_no }}</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-11">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <h5>{{ route.cityFrom }}({{ route.flyFrom }})</h5>
          <p>
            <i>{{ route.dTime * 1000 | date }}</i>
          </p>
          <p>{{ route.dTime * 1000 | date: "shortTime" }}</p>
        </div>
        <div class="col-xs-12 col-sm-1 arrow">
          <p>=></p>
        </div>
        <div class="col-xs-12 col-sm-5">
          <h5>{{ route.cityTo }}({{ route.flyTo }})</h5>
          <p>
            <i>{{ route.aTime * 1000 | date }}</i>
          </p>
          <p>{{ route.aTime * 1000 | date: "shortTime" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
