@import '~sass/variables';

.flight-search,
#departure,
#arrival,
#departure-date-start,
#departure-date-end,
#return-date-start,
#return-date-end,
#search-button,
.search-result-container {
  border-radius: 5px;
}

.flight-search {
  margin: 1% 2% 0 2%;
  padding: 2% 2% 1%;
  background-color: $light-blue;

}

.flight-search-btn {
  color: #fff;
}

i,
#search-button,
label {
  color: #fff;
}

#search-button {
  background-color: $dark-blue;
  margin: 1.5em 10% 0 0;
  width: 100%;

  &:hover {
    background-color: #fff;
    color: $dark-blue;
  }
}
