<div class="input-group" id="price-limit">
  <div class="input-group-prepend">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Currency
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">$USD</a>
      <a class="dropdown-item" href="#">€EUR</a>
      <a class="dropdown-item" href="#">GBP</a>
    </div>
  </div>
  <input
    [(ngModel)]="priceLimit"
    class="form-control"
    type="text"
    placeholder="$200"
    aria-label="..."
  />
</div>
